@media only screen and (max-width: 768px) {
  /* Adjustments for smaller screens */
  .top-left-nav {
    padding: 15px 30px;
  }

  .top-right-nav {
    padding: 15px 30px;
  }

  .section-1 {
    flex-direction: column;
    margin: 4rem 2rem;
  }

  .section-1-left {
    text-align: center;
  }

  .section-1-bottom {
    margin-top: 4rem;
    flex-direction: column;
    align-items: center;
  }

  .section-1-bottom-img {
    margin: 1rem 0;
  }

  .border {
    height: 15rem;
    width: 15rem;
  }
}
